body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn-group {
  width: 300px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
}

.btn-group button {
  cursor: pointer;
  width: 300px;
  background: #ffffff;
  color: black;
  text-align: center;
  padding: 10px;
  border-width: 1px;
}

.btn-group .active {
  background: #5e6b7f;
  color: white;
}

.btn-group button:hover {
  text-decoration: none;
  background: #9ba0a7;
}

.btn-group .btn-lft {
  border-right: none;
  border-radius: 8px 0px 0px 8px;
}

.btn-group .btn-rght {
  border-left: none;
  border-radius: 0px 8px 8px 0px;
}

.btn {
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  display: inline-block;
}

.nav ul {
  text-decoration: none;
  overflow: hidden;
}

.nav li {
  float: left;
  line-height: 46px;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 280px;
  padding: 8px 0;
  background-color: #fbc02d;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/* top right*/
.ribbon-top-right {
  top: -1px;
  right: -1px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -3px;
  top: 2px;
  transform: rotate(45deg);
}
